.hero {
  position: relative;
}

/* EYEBROW */

.eyebrow {

  font-size: 12px;

  letter-spacing: 2px;

  text-transform: uppercase;

  color: #22D3EE;

}

/* GRADIENT TEXT */

.gradient {

  background: linear-gradient(135deg,#6366F1,#22D3EE);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

}

/* DIVIDER */

.divider {

  margin-top: 80px;

  height: 1px;

  width: 100%;

  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );

}